useDynLib(spVarBayes, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom(RcppParallel, RcppParallelLibs)

exportPattern("^[[:alpha:]]+")

export(spVB_MFA)
export(spVB_NNGP)
export(spVB_w_sampling)
export(spVB_theta_sampling)
export(spVB_beta_sampling)
export(spVB_joint_sampling)
export(spVB_get_Vw)
export(spVB_LR_sampling)

S3method("predict", "spVarBayes")


import(BRISC, RANN, parallel, stats, fields, matrixStats, pbapply, Matrix)
importFrom("graphics", "legend", "lines", "plot")
importFrom("RANN", "nn2")
importFrom("spam", "rmvnorm")
